@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;
@use '../../styles/mixins' as mixins;


%flex-col {
    display: flex;
    flex-direction: column;
}

%M-H1 {
    font-family: "Titillium";
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}

%M-H2 {
    font-family: "Titillium";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

%M-H3 {
    font-family: "Titillium";
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

%M-P2 {
    font-family: "Titillium";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

%M-H4 {
    font-family: "Titillium";
    font-size: 11px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;
}

%M-P2 {
    font-family: "Titillium";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

%H1 {
    @include mixins.tablet {
        font-family: "Titillium";
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
    }
}

%H4 {
    @include mixins.tablet {
        font-family: "Titillium";
        font-size: 12px;
        font-weight: 600;
        line-height: 18px;
        text-align: left;
    }
}

%P2 {
    @include mixins.tablet {
        font-family: "Titillium";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
    }
}


%label {
    margin-bottom: 4px;
}

.warehouseDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: colors.$white;
    border-radius: 4px;
    width: 343px;
    box-shadow: 0px 2px 5px 0px #13182C1A;

    @include mixins.tablet {
        width: 704px;
    }

    @include mixins.desktop {
        width: 1020px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid colors.$cloud;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;

        @include mixins.tablet {
            padding-left: 24px;
            padding-right: 24px;
        }

        @include mixins.desktop {
            padding-left: 32px;
            padding-right: 32px;
        }

    }

    &__info-container {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid colors.$cloud;
        background-color: white;
        padding-left: 16px;
        padding-right: 16px;

        @include mixins.tablet {
            flex-direction: row;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 24px;
            padding-right: 24px;
            border-bottom: none;
            justify-content: baseline;
            align-items: baseline;
        }

        @include mixins.desktop {
            padding-left: 32px;
        }

    }
}

.nav {

    &__back-button {
        background: none;
        border: none;
        height: 24px;
        width: 24px;
        margin-right: 16px;
    }

    &__warehouse-heading {
        @extend %M-H1;
        color: colors.$primary-color;

        @extend %H1;
    }

    &__edit-link {
        margin-left: auto;
        text-decoration: none;
    }
}

.edit-link__edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: colors.$instock-indigo;
    border: 0;
    border-radius: 50%;
    height: 36px;
    width: 36px;

    @include mixins.tablet {
        height: 38px;
        width: 81px;
        border-radius: 20px;
        padding: 8px, 16px, 8px, 16px;
        gap: 4px;
    }
}

.edit-button {
    &__image {
        filter: invert(1);
        height: 20px;
        width: 20px;
    }

    &__label {
        display: none;
        color: colors.$white;

        @include mixins.tablet {
            display: inline-block;
        }
    }
}


.info-container {

    &__address-container {
        @include mixins.tablet {
            border-right: 1px solid colors.$cloud;

        }
    }

    &__contact-container {
        display: flex;
        justify-content: space-between;

        @include mixins.tablet {
            margin-left: 36px;
            gap: 24px;
        }

        @include mixins.desktop {
            gap: 128px;
        }

    }
}

.address-container {

    &__heading {
        @extend %M-H4;
        color: colors.$secondary-color;

        @extend %H4;
    }

    &__inner-container {
        display: flex;
        flex-direction: row;

        @include mixins.tablet {
            flex-direction: column;
            width: 214px;
        }

        @include mixins.desktop {
            margin-right: 128px;
        }
    }

    &__address {
        @extend %M-P2;
        color: colors.$primary-color;

        @extend %P2;

        @include mixins.tablet {
            margin: 0;
        }
    }

    &__city-country {
        @extend %M-P2;
        color: colors.$primary-color;

        @extend %P2;

        @include mixins.tablet {
            margin: 0;
        }
    }
}

.contact-name-container {

    &__heading {
        @extend %M-H4;
        color: colors.$secondary-color;

        @extend %H4;
    }

    &__contact {
        @extend %M-P2;
        color: colors.$primary-color;

        @extend %P2;

        @include mixins.tablet {
            width: 142px;
        }
    }
}

.contact-info-container {

    &__heading {
        @extend %M-H4;
        color: colors.$secondary-color;

        @extend %H4;
    }

    &__contact-info {
        @extend %M-P2;
        color: colors.$primary-color;

        @extend %P2;
    }
}