@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;

%bar {
    display: flex;
    flex-direction: column;

}

%foo {
    border-radius: 24px;
    border: 1px solid colors.$cloud;
    padding: 8px;
}


.editWarehouseForm {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px;
    font-family: "Titillium";


    &__nav {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid colors.$cloud;
    }

    &__warehouse-details {
        @extend %bar;
        margin-left: 16px;
        margin-right: 16px;

    }

    &__contact-details {
        @extend %bar;
        margin-left: 16px;
        margin-right: 16px;
    }

    &__form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 68px;
        width: 343px;
        background-color: colors.$light-grey;

    }
}

.nav {
    &__back-button {
        background: none;
        border: none;
    }
}

.warehouse-details {

    &__warehouse-name {
        @extend %bar;
    }

    &__street-address {
        @extend %bar;
    }

    &__city {
        @extend %bar;
    }

    &__country {
        @extend %bar;
    }
}



.warehouse-name {

    &__input {
        @extend %foo;
    }
}

.street-address {

    &__input {
        @extend %foo;
    }
}

.city {

    &__input {
        @extend %foo;
    }
}

.country {

    &__input {
        @extend %foo;
    }
}



.contact-details {

    &__contact-name {
        @extend %bar;
    }

    &__position {
        @extend %bar;
    }

    &__phone-number {
        @extend %bar;
    }

    &__email {
        @extend %bar;
    }
}

.contact-name {
    &__input {
        @extend %foo;
    }
}

.position {

    &__input {
        @extend %foo;
    }
}

.phone-number {

    &__input {
        @extend %foo;
    }
}

.email {

    &__input {
        @extend %foo;
    }
}

.form-buttons {
    &__cancel-button {
        width: 139px;
        height: 36px;
    }

    &__save-button {
        width: 139px;
        height: 36px;
    }
}