@use '../../styles/colors' as colors;
@use '../../styles/fonts' as fonts;
@use '../../styles/mixins' as mixins;

%flex-col {
    display: flex;
    flex-direction: column;
}

%M-H1 {
    font-family: "Titillium";
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
}

%M-H2 {
    font-family: "Titillium";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

%M-H3 {
    font-family: "Titillium";
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

%M-P2 {
    font-family: "Titillium";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}

%label {
    margin-bottom: 4px;
}

%form-field {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20px;
    height: 36px;
    width: 295px;
    border: 1px solid colors.$cloud;
    box-sizing: border-box;
    @extend %M-P2;
    margin-bottom: 24px;

    @include mixins.tablet {
        height: 38px;
    }
}



.editWarehouseForm {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px;
    font-family: "Titillium";
    width: 343px;
    color: colors.$primary-color;



    &__nav {
        display: flex;
        flex-direction: row;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        border-bottom: 1px solid colors.$cloud;
        align-items: center;
    }

    &__warehouse-details {
        @extend %flex-col;
        padding-left: 24px;
        border-bottom: 1px solid colors.$cloud;
    }

    &__contact-details {
        @extend %flex-col;
        padding-left: 24px;
    }

    &__form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 68px;
        background-color: colors.$light-grey;
    }
}

.nav {
    &__back-button {
        background: none;
        border: none;
        width: 24px;
        height: 24px;
        margin-right: 8px;

    }

    &__heading {
        font-family: "Titillium";
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
    }
}

.warehouse-details {

    &__heading {
        font-family: "Titillium";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
    }

    &__warehouse-name {
        @extend %flex-col;
    }

    &__street-address {
        @extend %flex-col;
    }

    &__city {
        @extend %flex-col;
    }

    &__country {
        @extend %flex-col;
    }
}



.warehouse-name {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.street-address {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.city {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.country {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}



.contact-details {

    &__heading {
        font-family: "Titillium";
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
    }

    &__contact-name {
        @extend %flex-col;
    }

    &__position {
        @extend %flex-col;
    }

    &__phone-number {
        @extend %flex-col;
    }

    &__email {
        @extend %flex-col;
    }
}

.contact-name {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.position {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.phone-number {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.email {

    &__label {
        @extend %M-H3;
        @extend %label;
    }

    &__input {
        @extend %form-field;
    }
}

.form-buttons {
    &__cancel-button {
        width: 139px;
        height: 36px;
    }

    &__save-button {
        width: 139px;
        height: 36px;
    }
}