@import '../colors';
@import '../mixins';

// Mixins
@mixin button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  img, svg {
    margin-right: 1px;
  }
}

@mixin button-mobile {
  width: 100%;
  height: 36px;
  font-size: 13px;
}

@mixin button-desktop {
  padding: 0 16px;
  height: 38px;
  font-size: 14px;
}

@mixin text-link-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $instock-indigo;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    img, svg {
      margin-left: 4px;
    }
  }
  
  @mixin text-link-mobile {
    font-size: 13px;
    line-height: 20px;
  }
  
  @mixin text-link-desktop {
    font-size: 14px;
    line-height: 22px;
  }

// Primary Button
.button--primary {
  @include button-base;
  background-color: $instock-indigo;
  color: #FFFFFF;
  border: none;
  &:hover {
    background-color: $primary-color;
  }
}

// Secondary Button
.button--secondary {
  @include button-base;
  background-color: $white;
  color: $secondary-color;
  border: 1px solid $cloud;
  &:hover {
    color: $instock-indigo;
    background-color: $white;
    border-color: $instock-indigo;
  }
}

// Delete Button
.button--delete {
  @include button-base;
  background-color: $red;
  color: $white;
  border: none;
  &:hover {
    background-color: $primary-color;
  }
}

// Text Links
.text-link {
    @include text-link-base;
  }

  // Text Link Icon
.text-link-icon {
    padding-top: 3px;
    height: 13px;
    width: 13px;
}

// Responsive Styles
@include tablet {
    .button {
      @include button-desktop;
    }
    .text-link {
      @include text-link-desktop;
    }
  }
  
  @include desktop {
    .button {
      @include button-desktop;
    }
    .text-link {
      @include text-link-desktop;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .button {
      @include button-mobile;
    }
    .text-link {
      @include text-link-mobile;
    }
  }
