$primary-color:#13182C;
$secondary-color:#5C667E;
$graphite:#232940;
$green:#158463;
$instock-indigo:#2E66E5;
$cloud:#BDC5D5;
$light-grey:#F7F8F9;
$red:#C94515;
$white:#FFFFFF;

$green-background:rgba(21, 132, 99, 0.07);
$red-background:rgba(201, 69, 21, 0.07);

