@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;
@use "../../styles/fonts" as *;

.inventory-edit-form-top {
  &__nav-div {
    display: flex;
    border-bottom: 1px solid $cloud;
    padding: 0 1rem;
    gap: 1rem;
  }
}

a {
  color: $primary-color;
  font-size: 1.2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.inventory-edit-form {
  padding: 0 1rem 5rem;
  margin-top: 2rem;
  gap: 2rem;

  @include tablet {
    padding: 0 2rem 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  @include desktop {
    gap: 6rem;
  }

  &__message {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: $green;
    font-size: 1.3rem;
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 49%;
    border-bottom: 1px solid $cloud;
    padding-bottom: 2rem;

    @include tablet {
      border-bottom: none;
      padding-bottom: 0;
      padding-right: 2rem;
      border-right: 1px solid $cloud;
    }

    @include desktop {
      flex-basis: 50%;
    }
  }

  &__item-availability {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    gap: 1rem;
    margin-top: 2rem;

    @include tablet {
      margin-top: 0;
      gap: 2rem;
    }
  }

  &__description,
  &__name,
  &__category,
  &__warehouse {
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #323232;
    width: 100%;
    border: 1px solid $cloud;

    &:focus {
      outline-color: $instock-indigo;
    }
  }

  &__description {
    resize: none;
    overflow: auto;
    height: 7rem;

    @include tablet {
      height: 7rem;
    }

    @include desktop {
      height: 10rem;
    }
  }

  &__button-container {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    @include tablet {
      margin-top: 0;
    }
  }

  &__save-button,
  &__cancel-button {
    padding: 0 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    border-radius: 1rem;
    cursor: grab;
    height: 2rem;
    width: 50%;

    @include tablet {
      width: 15%;
    }

    @include desktop {
      width: 10%;
    }
  }

  &__save-button {
    background-color: $instock-indigo;
    color: $white;
    border: none;
  }

  &__cancel-button {
    background-color: $white;
    color: $secondary-color;
    border: 1px solid $cloud;
  }

  &__status-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__radio-container {
    display: flex;
    align-items: center;
  }

  &__everything-radio-container {
    display: flex;
    gap: 2rem;
  }

  &__label {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: $secondary-color;
    cursor: grab;
    width: 100%;

    &:focus {
      color: $primary-color;
    }
  }

  &__quantity {
    padding: 0 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    background-color: $white;
    border-radius: 1rem;
    color: $secondary-color;
    border: 1px solid $cloud;
    height: 2rem;
    width: 40%;

    @include tablet {
      width: 40%;
    }

    @include desktop {
      width: 32%;
    }
  }

  &__headings {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    color: $primary-color;
    padding-bottom: 0.5rem;
  }

  &__quantity-container {
    display: flex;
    flex-direction: column;
  }

  &__main-header {
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;

    @include tablet {
      margin: 1rem 0;
    }
  }
}
