@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

.warehouse {
  background-color: #ffffff;
  border-radius: 0.5rem;

  &__everything-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    @include tablet {
      padding-left: 10%;
      padding-right: 10%;
    }
    @include desktop {
      justify-content: space-between;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  &__heading {
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    padding: 3.25rem 0 1.5rem 0;

    @include tablet {
      font-size: 2rem;
      padding: 0;
    }
  }

  &__search-add-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    margin-bottom: 1rem;

    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__search-box {
    height: 3.1rem;
    width: 100%;
    background-position: right;
    padding: 0 1rem;
    border: 1px solid $cloud;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    border-radius: 1.5rem;
    background: transparent url("../../assets/Icons/search-24px.svg") no-repeat
      13px center;
    background-position: right;
    @include tablet {
      height: 2.5rem;
    }
  }

  &__button {
    padding: 0 1rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    background-color: #2e66e5;
    border-radius: 1.5rem;
    color: #ffffff;
    border: none;
    cursor: grab;
    height: 3.1rem;
    width: 100%;

    @include tablet {
      height: 2.5rem;
    }
  }

  &__container {
    border-bottom: 1px solid #bdc5d5;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
    padding: 0 2rem;
    padding-bottom: 1rem;

    @include tablet {
      border-bottom: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1.5rem;
    }
  }

  &__columns {
    display: none;

    @include tablet {
      display: flex;
      background-color: #f7f8f9;
      color: #5c667e;
      font-size: 0.8rem;
      width: 100%;
      font-family: "Titillium Web", sans-serif;
      font-weight: 600;
      align-items: center;
      padding: 0 2rem;
    }
  }

  &__title-warehouse {
    @include tablet {
      flex-basis: 20.5%;
    }

    @include desktop {
      flex-basis: 21.5%;
    }
  }
  &__address {
    @include tablet {
      flex-basis: 20%;
    }
  }
  &__contact-name {
    @include tablet {
      flex-basis: 23%;
    }
    @include desktop {
      flex-basis: 23.5%;
    }
  }
  &__contact-info {
    @include tablet {
      flex-basis: 26%;
    }
    @include desktop {
      flex-basis: 29.5%;
    }
  }
}
