@use "../../styles/mixins/mixins.scss" as *;
@use "../../styles/partials/colours" as *;

.warehouse {
  border-bottom: 1px solid #BDC5D5;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;

  &:hover {
    background-color: $secondary-cloud;
  }

  &__details, &__contact {
    display: flex;
    flex-direction: column;
    width: 48%;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: 40.5%;
    }

    @include desktop {
      width: 41.5%;
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 600;
    color: #5C667E;
    width: 100%;
    margin: 0.5rem 0;
  }

  &__name-link {
    display: flex;
  }

  &__name-container {
    display: flex;

    @include tablet {
      flex-basis: 50%;
      align-items: center;
    }

    @include desktop {
      flex-basis: 51.5%;
    }
  }

  &__name {
    font-weight: 600;
    color: $primary-indigo;
    margin: 0.5rem 0;
  }

  &__arrow {
    @include tablet {
      width: 1.5rem;
    }
  }

  &__address {
    font-size: 0.8rem;
    margin: 0.5rem 0;

    @include tablet {
      max-width: 14ch;
    }

    @include desktop {
      max-width: 25ch;
    }
  }

  &__contact-name, &__contact-info {
    font-size: 0.8rem;
    margin: 0.5rem 0;

    @include tablet {
      margin: 1rem 0;
    }
  }

  &__phone {
    min-width: 20ch;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;

    @include tablet {
      width: auto;
      justify-content: flex-end;
      align-items: center;
    }

    @include desktop {
      flex-basis: 16.5%;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__delete-confirm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-cloud;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    p {
      margin-bottom: 1rem;
    }

    button {
      margin: 0.5rem;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      cursor: pointer;
    }
  }
}
