@use "../../styles/mixins" as *;
@use "../../styles/colors" as *;

.warehouse-info {
    border-bottom: 1px solid #BDC5D5;
    cursor: grab;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem 2rem 2rem;
  
    &:hover {
      background-color: $cloud;
    }
  
    @include tablet {
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 10%;
    }
    @include desktop {
      
    }
  
    &__name-container {
      display: flex;
  
      @include tablet {
        flex-basis: 50%;
        align-items: center;
      }
  
      @include desktop {
        flex-basis: 51.5%;
      }
    }
  
    &__delete-edit {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;
      padding: 1rem 0 0 0;
  
      @include tablet {
        padding: 0;
        width: auto;
        align-items: flex-end;
        justify-content: flex-end;
      }
      @include desktop {
        flex-basis: 16.5%;
      }
    }
  
    &__phone-email-container {
      @include tablet {
      }
  
      @include desktop {
        flex-basis: 19%;
      }
    }
  
    &__title-warehouse-heading {
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      
      @include tablet {
        margin: 1rem 0;
        display: none;
      }
    }
    &__address-heading {
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
  
      @include tablet {
        display: none;
      }
    }
  
    &__arrow {
  
      @include tablet {
        width: 1.5rem;
      }
    }
  
    &__mobile-flex-first{
      display: flex;
      flex-direction: column;
      width: 48%;
      justify-content: flex-start;
    
      @include tablet{
        gap: inherit;
        padding: 0;
        flex-direction: row;
        width: 40.5%;
        align-items: center;
      }
  
      @include desktop{
        width: 41.5%;
      }
  
    }
  
    &__mobile-flex-second {
      display: flex;
      flex-direction: column;
      width: 52%;
      justify-content: flex-start;
  
      @include tablet{
        gap: inherit;
        padding: 0;
        flex-direction: row;
        width: 49%;
        align-items: center;
      }
  
      @include desktop{
        width: 41.5%;
      }
  
    }
  
    &__address{
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0.5rem 0 0.75rem 0;
  
      @include tablet{
        margin: 1rem 0;
        max-width: 14ch;
      }
  
      @include desktop{
        max-width: 25ch;
      }
  
    }
  
    &__warehouse-heading{
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
  
      @include tablet{
        margin: 1rem 0;
      }
    }
  
    &__name {
      font-family: "Titillium Web", sans-serif;
      font-weight: 600;
      color: $instock-indigo;
      margin: 0.5rem 0 0.75rem 0;
      font-size: 0.8rem;
  
      @include tablet {
        margin: 1rem 0;
      }
    }
  
    &__address-heading{
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
  
      @include tablet{
        margin: 1rem 0;
      }
    }
  
    &__address {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0.5rem 0 0.75rem 0;
      
      @include tablet {
        margin: 1rem 0;
      }
    }
  
    &__contact-name-heading {
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
  
      @include tablet {
        margin: 1rem 0;
        display: none;
      }
    }
  
    &__contact-name {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0.5rem 0 0.75rem 0;
  
      @include tablet{
        margin: 1rem 0;
        flex-basis: 47.5%
      }
  
      @include desktop {
        flex-basis: 57.5%;
      }
    }
  
    &__contact-info-heading{
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
  
      @include tablet{
        margin: 1rem 0;
      }
  
    }
  
    &__contact-info-heading {
      font-family: "Titillium Web", sans-serif;
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 1rem;
      color: #5C667E;
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 0;
      
      @include tablet {
        margin: 1rem 0;
        display: none;
      }
  
    }
  
    &__phone{
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0.5rem 0 0 0;
      min-width: 20ch;
    }
  
    &__email{
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0 0 0.75rem 0;
    }
  
  
    &__address {
      font-size: 0.8rem;
      font-weight: 400;
      margin: 0.5rem 0 0.75rem 0;
      width: 60%;
  
      @include tablet{
        max-width: 14ch;
      }
  
      @include desktop{
        max-width: 25ch;
      }
    }
  }