@import "../../styles/mixins";
@import "../../styles/colors";

.footer {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
    color: $secondary-color;
    margin-top: 40px;

    @include tablet {
        font-size: 12px;
        line-height: 18px;
    }
}