@import '../../styles/mixins';
@import '../../styles/colors';

.warehouse-inventory {
    .inventory-header {
        &__title {
        }

        &__search-input {
        }

        &__add-button {
        }
    }

    .inventory-list {
        // entries for mobile query
        .inventory-entry {
            margin: 1rem 0;
            border-top: 1px solid $secondary-color; 
            border-bottom: 1px solid $secondary-color; 
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            //labels inside each paired div e.g. item-status
            &__label {
                margin: 0;
                font-size: 0.8rem;
                font-weight: 600;
                color: $secondary-color;
            }

            &__link {
                text-decoration: none;
                font-weight: 600;
            }

            &__row {
                width: 100%;
                display: flex;
                justify-content: start;
            }

            &__col {
                display: flex;
                flex-direction: column;
                flex: 1;

                &-data--item {
                    text-decoration: none;
                    color: $instock-indigo;
                }

                &-data--status {
                    background-color: lightgreen;
                    color: $green;
                    border-radius: 50px;
                    text-align: center;
                    padding: 0.25rem;
                }
            }

            &__row--actions {
                justify-content: space-between;
            }
        }

        &--mobile {
            @include tablet {
                display: none;
            }
        }

        &--tablet-desktop {
            display: none;

            @include tablet {
                display: block;
            }
        }
    }
}
